<h1><%= @post.title %></h1>
<small>created at: <%= @post.created_at.strftime("%b %d. %Y") %></small>
<br>
<small>updated at: <%= @post.updated_at %></small>

<p><%= @post.body %> </p>

<p>Category: <%= link_to @post.category.name, category_path(:id => @post.category.id) %></p>

<p><%= link_to "Back", posts_path %> </p>
